h2 {
  font-size: 45px;
  text-align: center;
  font-weight: bolder;
  color: #5B5D60;
  font-family: acier-bat-solid,sans-serif;
  font-weight: 400;
  font-style: normal; }

p {
  font-family: acherusgrotesque-regular !important; }

a:hover {
  color: #5B5D60; }

/* Header */
header {
  position: fixed;
  top: 0;
  z-index: 200;
  height: 110px; }
  header .logo-container {
    float: left;
    width: 100%;
    height: 100%;
    z-index: 101; }
    header .logo-container img {
      width: 100%;
      float: left; }

.header-background {
  height: 110px;
  position: fixed;
  top: 0;
  z-index: 90;
  animation-name: background;
  animation-duration: 15s;
  animation-iteration-count: infinite; }

@keyframes background {
  0% {
    background-color: cyan; }
  25% {
    background-color: magenta; }
  50% {
    background-color: #0DB14B; }
  100% {
    background-color: cyan; } }
/* close header */
/* NAV */
nav {
  position: fixed;
  height: 100vh;
  width: 100vw;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.75);
  display: none;
  opacity: 0;
  padding-top: 25vh; }
  nav p {
    text-align: center;
    width: 100%;
    color: #5B5D60; }
  nav ul {
    float: left;
    width: 80vw;
    z-index: 200; }
    nav ul li {
      margin-bottom: 25px;
      text-align: center;
      padding-left: 0; }
  nav .main-menu-container {
    border-top: 1px solid #5B5D60;
    width: 80vw;
    margin-left: 10vw; }
  nav .main-menu {
    list-style: none;
    padding-left: 0 !important;
    animation-name: nav-list;
    animation-duration: 1s;
    transform-origin: top;
    float: left; }
    nav .main-menu li {
      margin-bottom: 25px;
      animation-name: nav-animation;
      text-align: center;
      padding-left: 0; }
      nav .main-menu li a {
        color: #5B5D60;
        font-size: 24px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center; }
    nav .main-menu li:nth-child(1) {
      padding-top: 25px;
      font-family: acherusgrotesque-regular;
      color: #5B5D60;
      animation-duration: .5s; }
    nav .main-menu li:nth-child(2) {
      animation-duration: .75s; }
    nav .main-menu li:nth-child(3) {
      animation-duration: 1s;
      border-bottom: 1px solid #5B5D60;
      padding-bottom: 30px; }

.nav-display {
  display: block;
  opacity: 1;
  animation-name: nav;
  animation-duration: .5s;
  transform-origin: top;
  z-index: 150; }

.close-menu {
  list-style: none;
  margin-top: 7.5vh;
  padding-left: 0;
  margin-left: 10vw; }
  .close-menu li {
    opacity: 1;
    transition-delay: 1s;
    animation-name: close;
    animation-duration: 1s;
    transform-origin: center; }
  .close-menu img {
    width: 15vw;
    height: auto;
    padding: 0; }

@keyframes nav {
  0% {
    transform: scaleY(0);
    opacity: 0; }
  100% {
    transform: scaleY(1);
    opacity: 1; } }
@keyframes nav-list {
  0% {
    opacity: 0;
    transform: scaleY(0); }
  50% {
    opacity: 1;
    transform: scaleY(0); }
  75% {
    opacity: 1;
    transform: scaleY(1); }
  100% {
    opacity: 1;
    transform: scaleY(1); } }
@keyframes nav-animation {
  0% {
    opacity: 0;
    transform: translateY(-100px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }
@keyframes close {
  0% {
    opacity: 0;
    transform: rotate(-180deg) translateY(-20px); }
  50% {
    opacity: 0;
    transform: rotate(-180deg) translateY(-20px); }
  75% {
    opacity: .5;
    transform: rotate(-180deg) translateY(0px); }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateY(0px); } }
/* close nav */
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80vh;
  z-index: -5;
  overflow: hidden; }
  .video-container iframe {
    width: 110vw !important;
    height: 110vh !important;
    position: absolute;
    top: -5vh;
    z-index: -100;
    padding: 0;
    min-width: 100vw;
    left: -5vw; }

.main-link {
  float: left;
  height: 15vh;
  margin-top: 80vh;
  text-align: center;
  padding-top: 2.5vh;
  z-index: 100;
  background-color: white;
  letter-spacing: 3px;
  font-size: 25px;
  text-decoration: none;
  color: #5B5D60; }

.main-link-2 {
  float: left;
  height: 15vh;
  margin-top: 80vh;
  text-align: center;
  padding-top: 2.5vh;
  z-index: 100;
  background-color: white;
  letter-spacing: 3px;
  font-size: 25px;
  text-decoration: none;
  color: #5B5D60; }
  .main-link-2 p {
    float: left;
    padding-left: 35px;
    padding-right: 25px;
    margin-top: 20px; }
  .main-link-2 img {
    float: left;
    margin-top: 20px; }

.button-container {
  width: 70px;
  position: absolute;
  right: 0; }
  .button-container a {
    height: 100%;
    width: 100%;
    position: relative;
    float: left;
    z-index: 102; }
    .button-container a img {
      height: 25px;
      margin-top: 40px; }

.body-container {
  float: left;
  height: auto;
  padding-top: 110px !important;
  z-index: 0; }
  .body-container img {
    float: left; }
  .body-container img:nth-child(1) {
    margin-bottom: 25px; }

.stat {
  float: left;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
  width: 90%;
  margin-left: 5%;
  border-bottom: 1px solid lightgray; }
  .stat p {
    float: left;
    text-align: center;
    width: 100%;
    color: #5B5D60; }
  .stat .number {
    font-size: 65px;
    font-weight: bolder;
    width: 100%;
    float: left;
    font-size: 72px;
    font-family: acier-bat-solid,sans-serif;
    font-weight: 400;
    font-style: normal; }
  .stat .text {
    font-size: 18px;
    font-weight: normal;
    float: left;
    width: 100%; }

#gallery {
  padding-left: 5px !important;
  padding-right: 5px !important;
  float: left;
  padding-top: 25px !important; }
  #gallery h2 {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 25px; }
  #gallery img {
    padding: 5px !important;
    margin: 0; }

/*# sourceMappingURL=style.css.map */
